@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  background-image: url("../img/space.jpg");
}

h1 {
  color: rgb(247, 48, 0);
  font-size: 7rem;
  text-align: center;
  margin: 0 auto;
  font-family: 'Bangers', cursive;
  letter-spacing: .5rem;

}

img {
  width: 80%;
}
