@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.title{
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}


.collapse-content .fas.fa-heart:hover {
  color: red !important;
}
.collapse-content .fas.fa-share:hover {
  color: blue !important;
}

.btn:hover {
  background-color: gray;
}

.hiddenPara {
  width: 100%;
  overflow: hidden;
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.activePara{
    width: 100%;
    line-height: 2rem;
    max-height: fit-content;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
}

.active {
  color: red;
}

.hidden {
  color: black;
}

a {
  color: black;
}

button {
  border: none;
  background-color: white;
}



.card img{
  max-width:100%;
}




.container1, .container2{
  width: 80%;
	margin: auto;
	max-width: 850px !important; 
	padding-top: 6rem;
}

.container3{
  border: 2px solid black;
}
